DATABASE_URL=file:./dev.db

USE_NAVPRO_MOCK=true

NAVPRO_BASE_URL=https://api.truckerpath.com/navpro
NAVPRO_CLIENT_ID=
NAVPRO_JWT=

GROQ_API_KEY=
GEMINI_API_KEY=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_AGENT_ID=

NEXT_PUBLIC_MAPBOX_TOKEN=
